snippet edaf "name" b
/**
 * $1
 *
 * @param {$4} $3 ${5:paramDescription}
 *
 * @returns {Promise<>}
 */
export default async function ${1:name}(${3:param}: ${4:paramType}): Promise<${2:return}> {
}
endsnippet
